@use '../foundation/mixin' as mi;
@use '../foundation/variable' as va;

.u-animation--bounce {
  animation: bounce 2s infinite normal;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(16px);
  }

  100% {
    transform: translateY(0);
  }
}
