@use '../../foundation/mixin' as mi;
@use '../../foundation/variable' as va;

.c-title {
  &--vector {
    display: flex;
    flex-direction: column;
  }
  &--icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &--product {
    font-weight: 700;
    border-left: 4px solid va.$color-red;
    padding-left: 4px;
  }
  &--normal {
    text-align: center;
    font-weight: 700;
  }
  &--small {
    text-align: left;
    border-left: 4px solid #b60081;
    padding-left: 4px;
    font-weight: 700;
  }
  &__icon-text {
    font-weight: 800;
    text-align: center;
    &--white {
      color: va.$color-white;
    }
  }
  &__image {
    margin: 0 auto;
  }
  &__text {
    color: va.$color-white;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(35, 24, 21, 1) 50%, rgba(255, 255, 255, 0) 100%);
    display: block;
    margin: 0 auto;
    width: fit-content;

    &--no-color {
      color: va.$color-black;
      background: none;
    }

    &--bold {
      font-weight: 800;
    }
  }
  &__description {
    width: fit-content;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;

    &--white {
      color: va.$color-white;
    }
  }
  &__english {
    text-align: center;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
  }
}

@include mi.mq(pc) {
  .c-title {
    &--vector {
      row-gap: 24px;
      &--small {
        row-gap: 8px;
      }
    }
    &--icon {
      row-gap: 16px;
      margin-bottom: -16px;
    }
    &--normal {
      font-size: 24px;
    }
    &--small {
      font-size: 18px;
    }
    &__icon-image {
      &--ticket {
        height: 32px;
      }
      &--present {
        height: 48px;
      }
    }
    &__icon-text {
      font-size: 20px;
    }
    &--product {
      font-size: 18px;
    }

    &__image {
      height: 40px;
      &--Schedule-Ticket {
        height: 24px;
      }
      &--News {
        height: 40px;
      }
      &--Exhibition {
        height: 40px;
      }
      &--Special-Exhibition {
        height: 48px;
        &--PC {
          display: block;
        }
        &--SP {
          display: none;
        }
      }
      &--Shop {
        height: 40px;
      }
      &--Item {
        height: 32px;
      }
      &--SNS {
        height: 32px;
      }
    }
    &__text {
      letter-spacing: 3.4px;
      padding: 2px 40px;
    }
    &__description {
      background-color: va.$color-white;
      padding: 2px 4px;
      font-size: 16px;
      margin-top: 8px;
      &--PC {
        display: block;
      }
      &--SP {
        display: none;
      }
      &--no-color {
        background-color: rgba($color: #000000, $alpha: 0);
      }
    }
    &__english {
      font-size: 56px;
    }
  }
}

@include mi.mq(sp) {
  .c-title {
    &--vector {
      row-gap: 24px;
    }
    &--Schedule-Ticket {
      display: none;
    }
    &--icon {
      row-gap: 16px;
    }
    &--normal {
      font-size: 20px;
    }
    &--small {
      font-size: 18px;
    }
    &__icon-image {
      &--ticket {
        height: 32px;
      }
      &--present {
        height: 48px;
      }
    }
    &__icon-text {
      font-size: 20px;
    }
    &__image {
      height: 28px;
      &--Schedule-Ticket {
        display: none;
      }
      &--News {
        height: 24px;
      }
      &--Exhibition {
        height: 28px;
      }
      &--Special-Exhibition {
        height: 68px;
        &--PC {
          display: none;
        }
        &--SP {
          display: block;
        }
      }
      &--Contest {
        height: 28px;
      }
      &Market {
        height: 28px;
      }
      &--Shop {
        height: 40px;
      }
      &--Item {
        height: 32px;
      }
      &--More {
        height: 28px;
      }
      &--SNS {
        height: 28px;
      }
    }
    &__text {
      letter-spacing: 3.4px;
      padding: 2px 40px;
    }
    &__description {
      font-size: 18px;
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      &--PC {
        display: none;
      }
    }
    &__description-inner {
      padding: 2px 4px;
      background-color: va.$color-white;
      display: block;
      text-align: center;
    }
    &__english {
      font-size: 40px;
    }
  }
}
